.navbar-main {
  display: flex;
  align-items: center;
  background-color: var(--color-swatch0);
  /* box-shadow: 0px 4px 4px var(--color-shadow); */
  justify-content: center;
  height: clamp(var(--100px), 10vh, var(--80px));
  width: 100%;
  position: sticky;
  top: 0;
  /* Left 0 because on mobile doesn't respect the global container's border? */
  left: 0;
  /* background: transparent; */
  /* backdrop-filter: blur(10px); */
  z-index: 50;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-menuJS {
  display: flex;
  text-align: center;
  gap: var(--48px);

  a {
    font-size: calc(var(--10px) + var(--4px));
    /* Long words or paragraphs wont wrap: */
    white-space: nowrap;
    font-size: clamp(
      0.875rem,
      0.6346153846153846rem + 1.0256410256410255vw,
      1.15rem
    );
    transition: color 150ms ease;

    &:hover {
      color: var(--color-accent);
    }
  }
}

.navbar-menuJS.active {
  display: flex;
}

.navbar-toggleJS {
  background: var(--color-swatch3);
  cursor: pointer;
  display: none;
  padding: var(--8px);

  .bar {
    display: block;
    width: var(--25px);
    height: var(--4px);
    margin: var(--4px) auto;
    background-color: var(--color-swatch1);
    transition: all 0.3s ease-in-out;
  }
}

/* Hamburger menu transforms to an "X" */
.navbar-toggleJS.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggleJS.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggleJS.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 10px #cf9a8d);
}

[aria-current] {
  background-color: var(--color-black);
  padding: var(--16px) var(--10px);
  /* text-decoration: underline; */
}

/*? MAIN NAVBAR MEDIA QUERIES ?*/
/* Smallest to the largest */
/**=========== MEDIA QUERIES 480px ===========**/

/* @media (max-width: 30rem) {} */

/**=========== MEDIA QUERIES 768px ===========**/

@media (max-width: 48rem) {
  .navbar-container {
    flex-direction: column;
    gap: var(--8px);
  }

  .logo {
    display: none;
  }

  .navbar-menuJS {
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1rem);
    border-bottom: var(--color-border-light);
    display: none;
    gap: var(--32px) !important;
    height: fit-content;
    width: 100%;
    padding: var(--16px);
    position: absolute;
    right: 0;
    top: calc(var(--100px) + var(--4px));
  }

  .navbar-toggleJS {
    display: block;
    z-index: 101;
  }

  [aria-current] {
    padding: var(--8px);
  }
}

/**=========== MEDIA QUERIES 810px ===========**/
/* 50.625rem */
