/* CSS is imported via the page's javascript file. */

/* @import url("../src/stylesheets/cards.css"); */
/* @import url("../src/stylesheets/ui-css/sidebars-grid.css"); */

/* h1 in index.css */

.bg-banner {
  height: 100dvh;
  background:
    url(../src/assets/bb-mascot-480x270.svg) center/cover no-repeat,
    linear-gradient(
    40deg,
    #3e2a65 0%,
    oklch(38.731% 0.1147 294.987) 50%,
    #3e2a65 20%
  );
}

.intro-box {
  transform: translateX(600px) rotate(45deg) translateY(350px);
  max-width: fit-content;
  width: var(--300px);
  /* padding: var(--10px); */
  text-align: center;
}

/** - src/scripts/intersectionObservers.js - Animation **/

.observeThisJS {
  opacity: 0;
  translate: -100%;
  transition: all 800ms ease;
  rotate: -360deg;
}

.showMe {
  opacity: 1;
  translate: 0;
  rotate: none;
}

/** Drawer CSS Toggle Button **/

.drawer-toggle {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    color: var(--color-accent);
  }
}

.drawer {
  position: fixed;
  color: var(--color-white);
  bottom: -100%;
  left: 0;
  right: 0;
  transition: bottom 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer-content {
  background-color: var(--color-black);
  width: 80%;
  height: 50dvh;
  padding: var(--16px);
  opacity: 0.95;
  text-align: center;
}

/*? BANDAGES MEDIA QUERIES ?*/

/* Largest to smallest */

/**=========== MEDIA QUERIES 1024px ===========**/
/* 64rem */

/*? Hero Section ?*/
@media (max-width: 64rem) {
  .intro-box {
    transform: translateX(300px) translateY(150px);
    width: var(--300px);
    text-align: center;
  }
}

/*? Hero Section ?*/
@media (max-width: 64rem) {
  .bg-banner {
    height: 50dvh;
  }
}

/**=========== MEDIA QUERIES 825px ===========**/
/* 51.563rem */

/*? Hero Section ?*/
@media (max-width: 51.563rem) {
  .intro-box {
    margin: var(--64px) auto;
    transform: none;
  }
}

/*? Hero Section ?*/
@media (max-width: 51.563rem) {
  .bg-banner {
    background-image: url(../src/assets/bb-mascot-144x190.svg);
    background-position: bottom;
    background-size: 60%;
    height: 68dvh;
  }
}

/**=========== MEDIA QUERIES 810px ===========**/

/* 50.625rem */

/**=========== MEDIA QUERIES 768px ===========**/
/* 48rem */

/**=========== MEDIA QUERIES 480px ===========**/
/* 30rem */

/*? Hero Section ?*/
@media (max-width: 30rem) {
  .bg-banner {
    height: 60dvh;
  }
}
