@import url("../src/stylesheets/cards.css");
@import url("../src/layouts/sidebars-grid.css");

/* h1 in index.css */

.bg-banner {
  /* shape-margin: calc(var(--10px) + var(--2px)); */
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url(../src/assets/bb-mascot-480x270.svg);
  background-position: top;
  /* background-position: top var(--80px) right var(--25px); */
  background-size: cover;
  /* object-fit: scale-down; */
  height: 100vh;
}

.intro-box {
  transform: translateX(500px) rotate(30deg) translateY(350px);
  /* max-width: fit-content; */
  width: var(--300px);
  /* padding: var(--10px); */
  text-align: center;
}

/** Drawer CSS Toggle **/

.div-drawer {
  padding: var(--16px);
  color: var(--color-wild);
  text-align: center;
}

.drawer-toggle {
  background-color: var(--color-black);
  color: var(--color-swatch1);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    color: var(--color-accent);
  }
}

.drawer {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  transition: bottom 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer-content {
  background-color: var(--color-black);
  width: 100%;
  height: 50dvh;
  padding: var(--16px);
  opacity: 0.90;
  text-align: center;
}

.drawer-button {
  background-color: var(--color-bandage);
  /* color: white; */
  border: none;
  padding: var(--10px) var(--20px);
  /* font-size: 1.5em; */
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent);
  }
}

/*? bandages & HERO MEDIA QUERIES ?*/

/* Smallest to the largest */
/**=========== MEDIA QUERIES 480px ===========**/
/* 30rem */

/*? Hero Section ?*/
@media (max-width: 30rem) {
  .bg-banner {
    background-image: url(../src/assets/bb-mascot134x184.svg);
    background-position: bottom;
    /* object-fit: scale-down; */
    background-size: 80%;
    height: 65dvh;
  }
}

/**=========== MEDIA QUERIES 768px ===========**/
/* 48rem */

/**=========== MEDIA QUERIES 810px ===========**/

/* 50.625rem */

/*? Hero Section ?*/
@media (max-width: 50.625rem) {
  .intro-box {
    margin: var(--100px) auto;
    transform: none;
  }
}
