/* h1 in index.css */

.bg-banner {
  /* background-color: pink; */
  background-repeat: no-repeat;
  background-image: url(../src/assets/bb-mascot-480x270.svg);
  background-position: center;
  background-size: contain;
  height: 70vh;
}

.intro-box {
  transform: translateX(30px) translateY(200px);
  /* max-width: fit-content; */
  width: var(--300px);
  /* padding: var(--10px); */
  text-align: center;
}

/*? ABOUT & HERO MEDIA QUERIES ?*/
/* Smallest to the largest */

/**=========== MEDIA QUERIES 480px ===========**/
/* 30rem */

/*? Hero Section ?*/
@media (max-width: 30rem) {
  .bg-banner {
    background-image: url(../src/assets/bb-mascot134x184.svg);
    background-position: bottom;
    /* object-fit: scale-down; */
    background-size: 65%;
    height: 60dvh;
  }
}

/**=========== MEDIA QUERIES 768px ===========**/
/* 48rem */
/**=========== MEDIA QUERIES 810px ===========**/

/* 50.625rem */

/*? Hero Section ?*/
@media (max-width: 50.625rem) {
  .intro-box {
    margin: var(--100px) auto;
    transform: none;
  }
}
