@import url("../src/stylesheets/animations.css");

/* h1 in index.css */

.bg-banner {
  /* background-color: pink; */
  background-repeat: no-repeat;
  background-image: url(../src/assets/bb-mascot-480x270.svg);
  background-position: center;
  background-size: contain;
  height: 70vh;
}

.intro-box {
  transform: translateX(30px) translateY(200px);
  /* max-width: fit-content; */
  width: var(--300px);
  /* padding: var(--10px); */
  text-align: center;
}

/*? ABOUT MEDIA QUERIES ?*/

/* Largest to smallest */
/**=========== MEDIA QUERIES 810px ===========**/

/* 50.625rem */

/*? Hero Section ?*/
@media (max-width: 50.625rem) {
  .intro-box {
    margin: 0 auto;
    transform: none;
  }
}

/**=========== MEDIA QUERIES 768px ===========**/
/* 48rem */

/*? Hero Section ?*/
@media (max-width: 48rem) {
  .bg-banner {
    background-image: url(../src/assets/bb-mascot-144x190.svg);
    background-position: bottom;
    background-size: 60%;
    height: 69dvh;
  }
}

/**=========== MEDIA QUERIES 480px ===========**/
/* 30rem */

/*? Hero Section ?*/
@media (max-width: 30rem) {
  .bg-banner {
    height: 55dvh;
  }
}
