/* ................................. */
/* SLIDE LEFT */

.slide-left-anim {
  animation-duration: 1.5s;
  animation-name: slide-left;
}

@keyframes slide-left {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

/* ................................. */
/* SLIDE UP */

.slide-up-anim {
  animation-duration: 1s;
  animation-name: slide-up;
}

@keyframes slide-up {
  from {
    translate: 0 150vw;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
