button {
  background-color: var(--color-swatch3);
  color: var(--color-white);
  display: block;
  font-weight: bold;
  font-size: 1em;
  margin: 0 auto;
  padding: 20px 30px;
  transition: 0.1s;
}

button:hover {
  /* transform: scale(1.08); */
  cursor: pointer;
}

button:active {
  color: var(--color-black);
  background-color: var(--color-accent);
}
