/* All buttons are here except the mobil-menu
 hamburger and logo button in the navbar.css */

button {
  all: unset; /* Removes all inherited and default styles */
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: clamp(1.2rem, 1.5vw, 1rem);
  margin: 0 auto;
  padding: var(--16px) var(--16px);
  transition: 0.1s;
}

/* .button-light {
  background-color: var(--color-swatch2);
  padding: var(--16px) var(--10px);
} */

.button-bandage {
  color: var(--color-swatch2);
  background-color: var(--color-bandage);
  border-radius: var(--25px);
}

/** Drawer CSS/JS Toggle Button **/

.drawerToggleBTN {
  background-color: var(--color-wild);
  border-radius: var(--4px);
  padding: 10px 20px;
  font-size: 18px;
}

/* All buttons share the same hover and active effects. */

button:hover {
  transform: translateY(-2px); /* Slight lift */
}

button:active {
  color: var(--color-black);
  background-color: var(--color-accent);
}

/* Focus state for accessibility: */

button:focus {
  outline: var(--color-border-button);
  outline-offset: var(--2px);
}
