/* 3-CARD GRID LAYOUT */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--25px);
  height: auto;
  margin: 0 auto;
}

.card {
  background-color: var(--color-swatch2);
  /* box-shadow: 0px 4px 4px var(--color-shadow); */
  display: flex;
  flex-direction: column;
  padding: var(--10px);
  /* overflow: hidden; */

  /* transition: box-shadow 0.2s; */

  &:hover {
    box-shadow: 0px 4px 4px var(--color-shadow);
  }
}

.card-content {
  /* color: var(--color-black); */

  img {
    margin-bottom: var(--16px);
  }
}

/* Smallest to the largest */

/**=========== MEDIA QUERIES 480px ===========**/
/* 30rem */
/**=========== MEDIA QUERIES 768px ===========**/
/*? CARD GRID ?*/

@media (max-width: 48rem) {
  .card-grid {
    grid-template-columns: 1fr;
    width: fit-content;
    /*? END OF CARD GRID ?*/
  }
}

/**=========== MEDIA QUERIES 810px ===========**/
/* 50.625rem */
