/* The page-container class wraps all containers except
the Villain and the Footer. You can set a global width instead
and avoid using container utility classes (though you can still
use them or make your own).  */

/* Maximum width of the page layout */
.page-container {
  /* Check the media queries if trouble-shooting */
  max-width: var(--1800px);
  margin: 0 auto;
  height: auto;
}

/***** Generic Containers *****/

/* Large Container class not used yet. */
.large-container {
  max-width: var(--1440px);
}

/* Medium Container classes used in the Home page. */
.medium-container {
  max-width: var(--1280px);
}

/* Small Container classes used in the About page. */
.small-container {
  max-width: var(--810px);
}

/* No Container classes used in the Bandages page. */

/* The Villain container can be as another footer or anything,
it reflects the hero section: */

.villain {
  background-color: var(--color-swatch0);
  padding: var(--10px);
  /* height: fit-content; */
  height: 30dvh;
}

/**=========== MEDIA QUERIES 480px ===========**/
/*? PAGE CONTAINER ?*/

@media (max-width: 30rem) {
  .page-container,
  .villain,
  .main-footer {
    width: 95%;
    /* margin: 0 auto; */
  }
}
