/***** GLOBAL MAIN UTILITIES *****/
/* ///////////////////////////// */

/***** GLOBAL HELPERS *****/

.test {
  border: var(--color-border-important);
}

.txt-light {
  color: var(--color-white);
}

.txt-dark {
  color: var(--color-swatch1);
}

.txt-center {
  text-align: center;
}

.highlight {
  background-color: var(--color-highlight);
  padding: var(--2px) var(--4px);
}

.paddingX {
  padding: 0 1.5rem;
}

.paddingY {
  padding: 1.5rem 0;
}

.marginA {
  margin: 0 auto;
}

.marginX {
  margin: 0 var(--48px);
}

.marginY {
  margin: var(--48px) 0;
}
