/***** GLOBAL MAIN UTILITIES *****/
/* ///////////////////////////// */
/***** Containers *****/
.large-container {
  max-width: var(--1440px);
  margin: var(--48px) auto;
}

.medium-container {
  max-width: var(--1280px);
  margin: var(--48px) auto;
}

.small-container {
  max-width: var(--810px);
  margin: var(--48px) auto;
}

/***** GLOBAL HELPERS *****/

.test {
  border: var(--1px) red solid;
}

.txt-light {
  color: var(--color-white);
}

.txt-dark {
  color: var(--color-swatch1);
}

.txt-center {
  text-align: center;
}

.highlight {
  background-color: var(--color-highlight);
  padding: var(--2px);
}

.paddingX {
  padding: 0 1.5rem;
}

.paddingY {
  padding: 1.5rem 0;
}

.marginX {
  padding: 0 var(--48px);
}

.marginY {
  padding: var(--48px) 0;
}
