/***** GLOBAL MAIN UTILITIES *****/
/* ///////////////////////////// */
/***** Containers *****/
.large-container {
  max-width: var(--1440px);
}

.medium-container {
  max-width: var(--1280px);
}

.small-container {
  max-width: var(--810px);
}

/***** GLOBAL HELPERS *****/

.test {
  border: var(--color-border-important);
}

.txt-light {
  color: var(--color-white);
}

.txt-dark {
  color: var(--color-swatch1);
}

.txt-center {
  text-align: center;
}

.highlight {
  background-color: var(--color-highlight);
  padding: var(--2px) var(--4px);
}

.paddingX {
  padding: 0 1.5rem;
}

.paddingY {
  padding: 1.5rem 0;
}

.marginA {
  margin: auto;
}

.marginX {
  padding: 0 var(--48px);
}

.marginY {
  padding: var(--48px) 0;
}
