/***** GLOBAL MAIN UTILITIES *****/
/* ///////////////////////////// */

/***** GLOBAL HELPERS *****/

.test {
  border: var(--color-border-important);
}

.txt-decorated {
  /* background-color: var(--color-highlight); */
  color: var(--color-bandage);
  font-family: "Roboto", "Inter", sans-serif;
  font-size: clamp(1em, 0.5vw, 1.5em);
  font-weight: 500;
  letter-spacing: var(--4px);
  text-decoration: underline;
}

.txt-light {
  color: var(--color-white);
}

.txt-dark {
  color: var(--color-swatch1);
}

.txt-center {
  text-align: center;
}

.highlight {
  background-color: var(--color-highlight);
  padding: var(--2px) var(--4px);
}

.paddingX {
  padding: 0 1.5rem;
}

.paddingY {
  padding: 1.5rem 0;
}

.marginA {
  margin: auto;
}

.marginX {
  margin: 0 var(--48px);
}

.marginY {
  margin: var(--48px) 0;
}
