:root {
  /* PURPLE SWATCHES FROM LIGHT TO DARK COLORS: */
  /* --color-*: initial; */
  --color-swatch0: oklch(27.498% 0.07413 297.016 / 0.603);
  --color-white: oklch(81.211% 0.03516 316.765);
  --color-swatch1: oklch(69.213% 0.02396 311.981);
  --color-swatch2: oklch(37.003% 0.10958 295.981);
  --color-swatch3: oklch(30.113% 0.08289 296.836);
  --color-black: oklch(24.895% 0.06671 296.636);

  /* OTHER SWATCHES: */
  --color-accent: oklch(61.468% 0.11785 37.422);
  --color-bandage: oklch(74.298% 0.11127 82.842);
  --color-wild: oklch(65.019% 0.12486 316.263);
  --color-highlight: oklch(63.69% 0.11266 316.188 / 0.171);
  /* --color-important: oklch(57.321% 0.19998 310.001); */

  --color-bg0: var(--color-swatch0);
  --color-bg1: var(--color-swatch2);
  --color-bg2: var(--color-swatch3);

  --color-border: var(--color-swatch3);
  --color-shadow: var(--color-black);

  --color-gradient: linear-gradient(
    to bottom,
    oklch(36.794% 0.11562 296.039),
    oklch(31.603% 0.0837 295.641),
    oklch(23.036% 0.0625 298.118)
  );

  /* Animation Transitions 
  Usage: transition: var(--main-transition);
  */
  --main-transition: all 0.4s linear;

  /* REM SIZES */

  /* PIXELS TO REM:
    Base # = 16px
  ==========================
  Divide # of pixes by 16px:
  48px / 16px = 3rem
  20px / 16px = 1.25rem
  */

  --1px: 0.0625rem;
  --2px: 0.125rem;
  --4px: 0.25rem;
  --6px: 0.375rem;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --25px: 1.5625rem;
  --32px: 2rem;
  --48px: 3rem;
  --64px: 4rem;
  --75px: 4.688rem;
  --80px: 5rem;
  --100px: 6.5rem;
  --300px: 18.75rem;
  --400px: 25rem;
  --700px: 43.75rem;

  /* CONTAINER SIZES */
  --810px: 50.625rem;
  --1280px: 80rem;
  --1440px: 90rem;

  /* Calc Usage: */
  /* calc(var(--4px) + var(--2px)); */
}

*,
*::before,
*::after {
  border: none;
  border-radius: var(--6px);
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  background: var(--color-gradient);
  /* background-color: var(--color-bg2); */
}

body {
  color: var(--color-swatch1);
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.page-container {
  min-height: 100dvh;
}

a {
  color: var(--color-swatch1);
  font-weight: 600;
}

h1 {
  font-size: clamp(1.2em, 2vw, 1.7em);
  line-height: 1.1;
  margin-block: 0.2em;

  a {
    color: var(--color-bandage);
    font-weight: bold;
  }
}

h2 {
  color: var(--color-white);
  font-size: clamp(1em, 1.5vw, 1.5em);
  line-height: 1.2;
  margin-block: 0.3em;
  font-weight: 600;
}

h3 {
  background-color: var(--color-highlight);
  font-size: 1em;
  font-weight: 700;
  margin-bottom: var(--16px);
  padding: var(--8px);
  text-align: center;
}

ul {
  list-style: none;
}

img,
picture,
svg {
  /* aspect-ratio: 9 / 16; */
  /* display: block; */
  /* shape-margin: calc(var(--10px) + var(--2px)); */
  max-width: 100%;
  vertical-align: middle;
}

summary {
  background-color: var(--color-highlight);
  cursor: pointer;
  padding: var(--8px) var(--20px);
}

/**=========== MEDIA QUERIES 810px ===========**/
/*? Page Container ?*/

@media (max-width: 50.625rem) {
  .page-container {
    border: var(--10px) solid var(--color-border);
  }
}
