:root {
  /* PLUMB SWATCHES FROM LIGHT TO DARK COLORS: */
  /* --color-*: initial; */
  --color-white: oklch(81.211% 0.03516 316.765);
  --color-swatch1: oklch(69.213% 0.02396 311.981);
  --color-swatch2: oklch(32.563% 0.0913 295.703 / 0.940);
  --color-swatch3: oklch(24.805% 0.07666 295.665);
  --color-black: oklch(22.913% 0.06234 296.543);

  /* VIBRANT COLORS: */
  --color-accent: oklch(63.534% 0.14111 38.061);
  --color-highlight: oklch(61.145% 0.08676 227.071 / 0.475);
  --color-important: oklch(57.321% 0.19998 310.001);
  --color-bandage: oklch(74.298% 0.11127 82.842);
  --color-wild: oklch(64.912% 0.12437 315.706);

  /* box-shadow: 0px 4px 4px var(--color-shadow); */
  --color-border: var(--color-black);
  --color-shadow: var(--color-black);

  --gradient: linear-gradient(
    to bottom,
    /* oklch(43.068% 0.14744 295.752), */ oklch(36.807% 0.09884 295.177),
    oklch(21.175% 0.06131 296.68)
  );

  /* Animation Transitions 
  Usage: transition: var(--main-transition);
  */
  --main-transition: all 0.4s linear;

  /* REM SIZES */

  /* PIXELS TO REM:
    Base # = 16px
  ==========================
  Divide # of pixes by 16px:
  48px / 16px = 3rem
  20px / 16px = 1.25rem
  */

  --1px: 0.0625rem;
  --2px: 0.125rem;
  --4px: 0.25rem;
  --6px: 0.375rem;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --25px: 1.5625rem;
  --32px: 2rem;
  --48px: 3rem;
  --64px: 4rem;
  --75px: 4.688rem;
  --80px: 5rem;
  --100px: 6.5rem;
  --300px: 18.75rem;
  --400px: 25rem;
  --700px: 43.75rem;

  /* CONTAINER SIZES */
  --810px: 50.625rem;
  --1280px: 80rem;
  --1440px: 90rem;

  /* Calc Usage: */
  /* calc(var(--4px) + var(--2px)); */
}

*,
*::before,
*::after {
  border: none;
  border-radius: var(--8px);
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  background: var(--gradient);
  /* background-color: var(--color-swatch3); */
}

body {
  color: var(--color-swatch1);
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.page-container {
  min-height: 100dvh;
}

a {
  color: var(--color-swatch1);
  font-weight: 600;
}

h1 {
  font-size: clamp(1.2em, 2vw, 1.7em);
  line-height: 1.1;
  margin-block: 0.2em;

  a {
    color: var(--color-bandage);
    font-weight: bold;
  }
}

h2 {
  color: var(--color-white);
  font-size: clamp(1em, 1.5vw, 1.5em);
  line-height: 1.2;
  margin-block: 0.3em;
  font-weight: 600;
}

ul {
  list-style: none;
}

img,
picture,
svg {
  /* aspect-ratio: 9 / 16; */
  /* display: block; */
  /* shape-margin: calc(var(--10px) + var(--2px)); */
  max-width: 100%;
  vertical-align: middle;
}

/**=========== MEDIA QUERIES 810px ===========**/
/*? Page Container ?*/

@media (max-width: 50.625rem) {
  .page-container {
    border: var(--10px) solid var(--color-border);
  }
}
