@import url("./stylesheets/cards.css");

/* h1 in index.css */

.intro-box {
  transform: translateX(10dvw) translateY(100px);
  max-width: fit-content;
  /* width: clamp(400px, 300px, 200px); */
  /* padding: var(--10px); */
  text-align: center;
}

.bg-banner {
  height: 72dvh;
  background:
    url(./assets/bb-mascot-480x270.svg) center/contain no-repeat,
    linear-gradient(
    40deg,
    #3e2a65 0%,
    oklch(38.731% 0.1147 294.987) 50%,
    #3e2a65 20%
  );
  margin: auto;
}

/*? HOME MEDIA QUERIES ?*/

/* Largest to smallest */
/**=========== MEDIA QUERIES 825px ===========**/
/* 51.563rem */

/**=========== MEDIA QUERIES 810px ===========**/

/* 50.625rem */

/**=========== MEDIA QUERIES 768px ===========**/
/* 48rem */

/*? Hero Section ?*/
@media (max-width: 48rem) {
  .intro-box {
    margin: auto;
    transform: none;
  }
}

/*? Hero Section ?*/
@media (max-width: 48rem) {
  .bg-banner {
    background-image: url(./assets/bb-mascot-144x190.svg);
    background-position: bottom;
    background-size: 50%;
    /* height: auto; */
  }
}

/**=========== MEDIA QUERIES 480px ===========**/
/* 30rem */

/*? Hero Section ?*/
@media (max-width: 30rem) {
  .bg-banner {
    max-height: 50dvh;
  }
}
