@import url("./stylesheets/cards.css");

/* h1 in index.css */

.intro-box {
  transform: translateX(5rem) translateY(200px);
  /* max-width: fit-content; */
  width: var(--300px);
  /* padding: var(--10px); */
  text-align: center;
  /* height: 1000px; */
}

.bg-banner {
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url(./assets/bb-mascot-480x270.svg);
  /* background-position: center; */
  background-position: top var(--32px) right var(--4px);
  background-size: cover;
  /* object-fit: scale-down; */
  height: 72vh;
}

/*? HOME MEDIA QUERIES ?*/

/* Largest to smallest */

/**=========== MEDIA QUERIES 825px ===========**/
/* 51.563rem */

/*? Hero Section ?*/
@media (max-width: 51.563rem) {
  .intro-box {
    margin: var(--64px) auto;
    transform: none;
  }
}

/**=========== MEDIA QUERIES 810px ===========**/

/* 50.625rem */

/**=========== MEDIA QUERIES 768px ===========**/
/* 48rem */

/*? Hero Section ?*/
@media (max-width: 48rem) {
  .bg-banner {
    background-image: url(./assets/bb-mascot-144x190.svg);
    background-position: bottom;
    background-size: 60%;
    height: 69dvh;
  }
}

/**=========== MEDIA QUERIES 480px ===========**/
/* 30rem */

/*? Hero Section ?*/
@media (max-width: 30rem) {
  .bg-banner {
    height: 55dvh;
  }
}
