@import url('./stylesheets/cards.css');

/* h1 in index.css */

.intro-box {
  transform: translateX(12rem) translateY(200px);
  /* max-width: fit-content; */
  width: var(--300px);
  /* padding: var(--10px); */
  text-align: center;
  /* height: 1000px; */
}

.bg-banner {
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url(./assets/bb-mascot-480x270.svg);
  /* background-position: center; */
  background-position: top var(--32px) right var(--4px);
  background-size: cover;
  /* object-fit: scale-down; */
  height: 72vh;
}

/*? HOME & HERO MEDIA QUERIES ?*/

/* Smallest to the largest */
/**=========== MEDIA QUERIES 480px ===========**/
/* 30rem */

/*? Hero Section ?*/
@media (max-width: 30rem) {
  .bg-banner {
    background-image: url(./assets/bb-mascot-144x190.svg);
    background-position: bottom;
    /* object-fit: scale-down; */
    background-size: 80%;
    height: 70dvh;
  }
}

/**=========== MEDIA QUERIES 768px ===========**/
/* 48rem */
/**=========== MEDIA QUERIES 810px ===========**/

/* 50.625rem */

/*? Hero Section ?*/
@media (max-width: 50.625rem) {
  .intro-box {
    margin: 100px auto;
    transform: none;
  }
}
